## PREPARING THE DATA

In [1]:
import pandas as pd
import json

In [75]:
mov = pd.read_csv("movies.csv")
mov.head()

d:\program files\python\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [76]:
mov.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

####  SELECT THE COLUMNS THAT CAN HELP IN RECOMMENDATION AND DISCARD THE REST

In [84]:
cleaned = mov[['id','title','original_language','genres','popularity','adult','vote_average','vote_count']]
cleaned.head()

,id,title,original_language,genres,popularity,adult,vote_average,vote_count
0,862,Toy Story,en,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.9469,False,7.7,5415.0
1,8844,Jumanji,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",17.0155,False,6.9,2413.0
2,15602,Grumpier Old Men,en,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",11.7129,False,6.5,92.0
3,31357,Waiting to Exhale,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",3.85949,False,6.1,34.0
4,11862,Father of the Bride Part II,en,"[{'id': 35, 'name': 'Comedy'}]",8.38752,False,5.7,173.0

#### EXTRACT GENRE FROM THE "GENRES" COLUMN AND MAKE SEPARATE COLUMN FOR EACH

In [85]:
all_genre = []
for i in range(cleaned.shape[0]):
    dict_gen = cleaned["genres"][i]
    dict_gen = dict_gen.replace("'",'"')
    dict_gen = json.loads(dict_gen)
    genre = []
    for j in dict_gen:
        genre.append(j["name"])
    all_genre.extend(genre)
    cleaned["genres"][i] = genre

d:\program files\python\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
d:\program files\python\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [86]:
cleaned.head()

,id,title,original_language,genres,popularity,adult,vote_average,vote_count
0,862,Toy Story,en,"[Animation, Comedy, Family]",21.9469,False,7.7,5415.0
1,8844,Jumanji,en,"[Adventure, Fantasy, Family]",17.0155,False,6.9,2413.0
2,15602,Grumpier Old Men,en,"[Romance, Comedy]",11.7129,False,6.5,92.0
3,31357,Waiting to Exhale,en,"[Comedy, Drama, Romance]",3.85949,False,6.1,34.0
4,11862,Father of the Bride Part II,en,[Comedy],8.38752,False,5.7,173.0

In [96]:
all_genre = set(all_genre)
#adding these to genres as columns to the dataframe
for col in all_genre:
    cleaned[col] = np.zeros(cleaned.shape[0])
    
# 1 if the genre exists in the movie genre list ... else 0
for i in range(cleaned.shape[0]):
    for col in all_genre:
        if col in cleaned["genres"][i]:
            cleaned[col][i] = 1
            
cleaned = cleaned.drop(columns = ['genres'])    
cleaned.head()

,id,title,original_language,popularity,adult,vote_average,vote_count,Odyssey Media,Thriller,Horror,...,Carousel Productions,Action,Romance,Documentary,Aniplex,History,Telescene Film Group Productions,Comedy,Sentai Filmworks,Family
0,862,Toy Story,en,21.9469,False,7.7,5415.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,8844,Jumanji,en,17.0155,False,6.9,2413.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,15602,Grumpier Old Men,en,11.7129,False,6.5,92.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,31357,Waiting to Exhale,en,3.85949,False,6.1,34.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,11862,Father of the Bride Part II,en,8.38752,False,5.7,173.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

#### HANDLING CATEGORICAL VARIABLES

In [100]:
#converting the adult column in 1's and 0's
cleaned["adult"].unique()

array(['False', 'True', ' - Written by Ørnås',
       ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.',
       ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.'],
      dtype=object)

In [101]:
cleaned = cleaned.loc[(cleaned["adult"]=='False') | (cleaned["adult"]=='True')]
cleaned["adult"].unique()

array(['False', 'True'], dtype=object)

In [102]:
cleaned["adult"] = cleaned["adult"].replace(to_replace = ['False','True'],value = [0,1])
cleaned.head()

,id,title,original_language,popularity,adult,vote_average,vote_count,Odyssey Media,Thriller,Horror,...,Carousel Productions,Action,Romance,Documentary,Aniplex,History,Telescene Film Group Productions,Comedy,Sentai Filmworks,Family
0,862,Toy Story,en,21.9469,0,7.7,5415.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,8844,Jumanji,en,17.0155,0,6.9,2413.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,15602,Grumpier Old Men,en,11.7129,0,6.5,92.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,31357,Waiting to Exhale,en,3.85949,0,6.1,34.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,11862,Father of the Bride Part II,en,8.38752,0,5.7,173.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [103]:
cleaned["original_language"].unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
       'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
       'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
       'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
       'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
       'sq', nan, 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo', 'ay',
       'kn', 'eu', 'ne', 'pa', 'ky', 'gl', 'uz', 'sm', 'mt', 'hy', 'iu',
       'lb', 'si'], dtype=object)

In [104]:
cleaned.describe()

,adult,vote_average,vote_count,Odyssey Media,Thriller,Horror,Vision View Entertainment,GoHands,BROSTA TV,Crime,...,Carousel Productions,Action,Romance,Documentary,Aniplex,History,Telescene Film Group Productions,Comedy,Sentai Filmworks,Family
count,45463.000000,45460.000000,45460.000000,45463.0,45463.000000,45463.000000,45463.0,45463.0,45463.0,45463.000000,...,45463.0,45463.000000,45463.000000,45463.000000,45463.0,45463.000000,45463.0,45463.000000,45463.0,45463.000000
mean,0.000198,5.618207,109.897338,0.0,0.167697,0.102787,0.0,0.0,0.0,0.094736,...,0.0,0.145085,0.148142,0.086488,0.0,0.030750,0.0,0.289950,0.0,0.060929
std,0.014069,1.924216,491.310374,0.0,0.373601,0.303684,0.0,0.0,0.0,0.292854,...,0.0,0.352190,0.355245,0.281086,0.0,0.172642,0.0,0.453744,0.0,0.239202
min,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
25%,0.000000,5.000000,3.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
50%,0.000000,6.000000,10.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
75%,0.000000,6.800000,34.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,1.000000,0.0,0.000000
max,1.000000,10.000000,14075.000000,0.0,1.000000,1.000000,0.0,0.0,0.0,1.000000,...,0.0,1.000000,1.000000,1.000000,0.0,1.000000,0.0,1.000000,0.0,1.000000

In [108]:
# get dummy variables for all the languages
cleaned = pd.concat([cleaned,pd.get_dummies(cleaned["original_language"])],axis = 1)

In [110]:
cleaned.drop(columns = ["original_language"],inplace = True)
cleaned.head()

,id,title,popularity,adult,vote_average,vote_count,Odyssey Media,Thriller,Horror,Vision View Entertainment,...,tl,tr,uk,ur,uz,vi,wo,xx,zh,zu
0,862,Toy Story,21.9469,0,7.7,5415.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,8844,Jumanji,17.0155,0,6.9,2413.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,15602,Grumpier Old Men,11.7129,0,6.5,92.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,31357,Waiting to Exhale,3.85949,0,6.1,34.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,11862,Father of the Bride Part II,8.38752,0,5.7,173.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

#### HANDLING MISSING DATA

In [113]:
cleaned.isnull().sum()

id              0
title           3
popularity      3
adult           0
vote_average    3
               ..
vi              0
wo              0
xx              0
zh              0
zu              0
Length: 127, dtype: int64

In [114]:
cleaned = cleaned.loc[cleaned["title"].notnull()]
cleaned.isnull().sum()

id              0
title           0
popularity      0
adult           0
vote_average    0
               ..
vi              0
wo              0
xx              0
zh              0
zu              0
Length: 127, dtype: int64

#### SAVE THE DATAFRAME FOR LATER USE

In [116]:
cleaned.to_csv("cleaned_movie.csv",index=False)