## PREPARING THE DATA

In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
mov = pd.read_csv("movies.csv")
mov.head()

d:\program files\python\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
mov.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

####  SELECT THE COLUMNS THAT CAN HELP IN RECOMMENDATION AND DISCARD THE REST

In [4]:
cleaned = mov[['id','title','original_language','release_date','genres','popularity','adult','vote_average','vote_count']]
cleaned.head()

,id,title,original_language,release_date,genres,popularity,adult,vote_average,vote_count
0,862,Toy Story,en,1995-10-30,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.9469,False,7.7,5415.0
1,8844,Jumanji,en,1995-12-15,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",17.0155,False,6.9,2413.0
2,15602,Grumpier Old Men,en,1995-12-22,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",11.7129,False,6.5,92.0
3,31357,Waiting to Exhale,en,1995-12-22,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",3.85949,False,6.1,34.0
4,11862,Father of the Bride Part II,en,1995-02-10,"[{'id': 35, 'name': 'Comedy'}]",8.38752,False,5.7,173.0

In [5]:
cleaned.shape

(45466, 9)

#### EXTRACT GENRE FROM THE "GENRES" COLUMN AND MAKE SEPARATE COLUMN FOR EACH

In [6]:
all_genre = []
for i in range(cleaned.shape[0]):
    dict_gen = cleaned["genres"][i]
    dict_gen = dict_gen.replace("'",'"')
    dict_gen = json.loads(dict_gen)
    genre = []
    for j in dict_gen:
        genre.append(j["name"])
    all_genre.extend(genre)
    cleaned["genres"][i] = genre

d:\program files\python\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
d:\program files\python\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
cleaned.head()

,id,title,original_language,release_date,genres,popularity,adult,vote_average,vote_count
0,862,Toy Story,en,1995-10-30,"[Animation, Comedy, Family]",21.9469,False,7.7,5415.0
1,8844,Jumanji,en,1995-12-15,"[Adventure, Fantasy, Family]",17.0155,False,6.9,2413.0
2,15602,Grumpier Old Men,en,1995-12-22,"[Romance, Comedy]",11.7129,False,6.5,92.0
3,31357,Waiting to Exhale,en,1995-12-22,"[Comedy, Drama, Romance]",3.85949,False,6.1,34.0
4,11862,Father of the Bride Part II,en,1995-02-10,[Comedy],8.38752,False,5.7,173.0

#### HANDLING MISSING DATA

In [8]:
cleaned.isnull().sum()

id                    0
title                 6
original_language    11
release_date         87
genres                0
popularity            5
adult                 0
vote_average          6
vote_count            6
dtype: int64

In [9]:
cleaned = cleaned.loc[cleaned["title"].notnull()]
cleaned.isnull().sum()

id                    0
title                 0
original_language    11
release_date         84
genres                0
popularity            0
adult                 0
vote_average          0
vote_count            0
dtype: int64

In [10]:
cleaned = cleaned.reset_index(drop=True)

In [11]:
cleaned.dtypes

id                    object
title                 object
original_language     object
release_date          object
genres                object
popularity            object
adult                 object
vote_average         float64
vote_count           float64
dtype: object

In [12]:
cleaned["popularity"]=cleaned["popularity"].astype(float)

#### HANDLING REDUNDANT MOVIES

In [13]:
cleaned.shape

(45460, 9)

In [14]:
len(cleaned["title"].unique())

42277

In [15]:
# we see that there are some redundant rows with movies

In [16]:
titles = dict()
for i in range(cleaned.shape[0]):
    try:
        titles[cleaned["title"][i]]+=1
    except:
        titles[cleaned["title"][i]] = 1

In [17]:
redundant = [x for x in titles.keys() if titles[x]>1]
red_movies = cleaned.loc[cleaned["title"].isin(redundant)]
red_movies = red_movies.reset_index(drop=True)
cleaned = cleaned.loc[~cleaned["title"].isin(redundant)]
cleaned = cleaned.reset_index(drop=True)

In [18]:
red_movies

,id,title,original_language,release_date,genres,popularity,adult,vote_average,vote_count
0,949,Heat,en,1995-12-15,"[Action, Crime, Drama, Thriller]",17.924927,False,7.7,1886.0
1,11860,Sabrina,en,1995-12-15,"[Comedy, Romance]",6.677277,False,6.2,141.0
2,4584,Sense and Sensibility,en,1995-12-13,"[Drama, Romance]",10.673167,False,7.2,364.0
3,16420,Othello,en,1995-12-15,[Drama],1.845899,False,7.0,33.0
4,17015,Persuasion,en,1995-09-27,"[Drama, Romance]",2.228434,False,7.4,36.0
...,...,...,...,...,...,...,...,...,...
5508,52103,Pickpocket,zh,1997-01-01,"[Drama, Foreign]",0.350365,False,7.2,13.0
5509,404604,Mom,hi,2017-07-07,"[Crime, Drama, Thriller]",1.559596,False,6.6,14.0
5510,420346,The Morning After,en,2015-01-11,"[Comedy, Drama]",0.139936,False,4.0,2.0
5511,30840,Robin Hood,en,1991-05-13,"[Drama, Action, Romance]",5.683753,False,5.7,26.0
5512,67758,Betrayal,en,2003-08-01,"[Action, Drama, Thriller]",0.903007,False,3.8,6.0

In [19]:
cleaned.shape

(39947, 9)

In [20]:
red_movies.loc[red_movies["title"]=="Mom"]

,id,title,original_language,release_date,genres,popularity,adult,vote_average,vote_count
4082,40000,Mom,en,1991-01-01,"[Comedy, Horror]",0.991827,False,4.3,3.0
5509,404604,Mom,hi,2017-07-07,"[Crime, Drama, Thriller]",1.559596,False,6.6,14.0

In [21]:
red_movies.loc[red_movies["title"]=="Get Out"]

,id,title,original_language,release_date,genres,popularity,adult,vote_average,vote_count
5208,419430,Get Out,en,2017-02-24,"[Mystery, Thriller, Horror]",36.894806,False,7.2,2978.0
5482,130627,Get Out,en,2010-02-01,"[Comedy, Animation]",0.147059,False,4.5,4.0

In [22]:
red_movies.loc[red_movies["release_date"].isnull(),"release_date"]= "----"

In [23]:
# we see that the date of release is different for most of the movies and language for some
# we will add this information to the title

In [24]:
rm = red_movies.groupby("title")

In [25]:
def clean_redundant(group):
    cr = cleaned.iloc[0:0,:]
    group = group.reset_index(drop = True)
    title = group["title"][0]
    
    for i in range(group.shape[0]):
        year = group["release_date"][i][:4]
        group["title"][i] = title+"("+year+" "+group["original_language"][i]+")"
        
    return group

In [26]:
for name,group in rm:
    cleaned = cleaned.append(clean_redundant(group),ignore_index=True)
    
cleaned.tail()

d:\program files\python\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,title,original_language,release_date,genres,popularity,adult,vote_average,vote_count
45455,285135,Zodiac(2014 en),en,2014-08-16,"[Science Fiction, TV Movie]",3.299730,False,3.8,32.0
45456,14113,Zoom(2006 en),en,2006-08-11,"[Family, Fantasy, Comedy]",11.967444,False,4.9,140.0
45457,351065,Zoom(2015 en),en,2015-09-11,"[Animation, Comedy, Drama]",2.000166,False,5.7,25.0
45458,14433,Zulu(1964 en),en,1964-01-22,"[Action, Drama, History, War]",11.604242,False,7.4,137.0
45459,185567,Zulu(2013 en),en,2013-12-04,"[Crime, Drama, Thriller]",6.826661,False,6.7,176.0

In [27]:
cleaned.tail()

,id,title,original_language,release_date,genres,popularity,adult,vote_average,vote_count
45455,285135,Zodiac(2014 en),en,2014-08-16,"[Science Fiction, TV Movie]",3.299730,False,3.8,32.0
45456,14113,Zoom(2006 en),en,2006-08-11,"[Family, Fantasy, Comedy]",11.967444,False,4.9,140.0
45457,351065,Zoom(2015 en),en,2015-09-11,"[Animation, Comedy, Drama]",2.000166,False,5.7,25.0
45458,14433,Zulu(1964 en),en,1964-01-22,"[Action, Drama, History, War]",11.604242,False,7.4,137.0
45459,185567,Zulu(2013 en),en,2013-12-04,"[Crime, Drama, Thriller]",6.826661,False,6.7,176.0

In [28]:
titles = dict()
for i in range(cleaned.shape[0]):
    try:
        titles[cleaned["title"][i]]+=1
    except:
        titles[cleaned["title"][i]] = 1

In [29]:
redundant = [x for x in titles.keys() if titles[x]>1]
red_movies = cleaned.loc[cleaned["title"].isin(redundant)]
red_movies = red_movies.reset_index(drop=True)
cleaned = cleaned.loc[~cleaned["title"].isin(redundant)]
cleaned = cleaned.reset_index(drop=True)

In [30]:
rm = red_movies.groupby("title")
for name,group in rm:
    group = group.reset_index(drop=True)
    vcount = 0
    vavg = 0
    pop = 0
    for j in range(group.shape[0]):
        vcount = vcount + group['vote_count'][j]
        vavg = vavg + group['vote_count'][j]*group['vote_average'][j]
        pop = pop + group['vote_count'][j]*group['popularity'][j]
        
    vavg = vavg/vcount
    pop = pop/vcount
    group["popularity"][0] = pop
    group["vote_average"][0] = vavg
    group["vote_count"][0] = vcount
    cleaned = cleaned.append(group.iloc[0,:],ignore_index=True)

d:\program files\python\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

d:\program files\python\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
d:\program files\python\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
d:\program files\python\lib\site-packages\ipykernel_launcher.py:12: RuntimeWarning: invalid value encountered in double_scalars
  if sys.path[0] == '':
d:\program files\python\lib\site-packages\ipykernel_launcher.py:13: RuntimeWarning: invalid value encountered in double_scalars
  del sys.path[0]

In [31]:
cleaned.tail()

,id,title,original_language,release_date,genres,popularity,adult,vote_average,vote_count
45407,99080,The Viking(1931 en),en,1931-06-21,"[Action, Drama, Romance, Adventure]",NaN,False,NaN,0.0
45408,378018,The Void(2016 en),en,2016-10-21,"[Mystery, Horror, Science Fiction]",9.039816,False,5.791346,208.0
45409,23305,The Warrior(2001 en),en,2001-09-23,"[Adventure, Animation, Drama, Action, Foreign]",1.967992,False,6.300000,30.0
45410,159849,Why We Fight: Divide and Conquer(1943 en),en,1943-01-01,[Documentary],0.473322,False,5.000000,2.0
45411,132641,Wife(1953 ja),ja,1953-04-29,[Drama],NaN,False,NaN,0.0

In [32]:
cleaned.shape[0]

45412

In [33]:
len(cleaned["title"].unique())

45412

In [34]:
all_genre = set(all_genre)
#adding these to genres as columns to the dataframe
for col in all_genre:
    cleaned[col] = np.zeros(cleaned.shape[0])
    
# 1 if the genre exists in the movie genre list ... else 0
for i in range(cleaned.shape[0]):
    for col in all_genre:
        if col in cleaned["genres"][i]:
            cleaned[col][i] = 1
            
cleaned = cleaned.drop(columns = ['genres'])    
cleaned.head()

d:\program files\python\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,id,title,original_language,release_date,popularity,adult,vote_average,vote_count,Rogue State,Odyssey Media,...,Thriller,Action,BROSTA TV,Music,Animation,Mardock Scramble Production Committee,Sentai Filmworks,Documentary,Telescene Film Group Productions,Western
0,862,Toy Story,en,1995-10-30,21.946943,False,7.7,5415.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,8844,Jumanji,en,1995-12-15,17.015539,False,6.9,2413.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15602,Grumpier Old Men,en,1995-12-22,11.712900,False,6.5,92.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31357,Waiting to Exhale,en,1995-12-22,3.859495,False,6.1,34.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11862,Father of the Bride Part II,en,1995-02-10,8.387519,False,5.7,173.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### HANDLING CATEGORICAL VARIABLES

In [35]:
#converting the adult column in 1's and 0's
cleaned["adult"].unique()

array(['False', 'True'], dtype=object)

In [36]:
cleaned = cleaned.loc[(cleaned["adult"]=='False') | (cleaned["adult"]=='True')]
cleaned["adult"].unique()

array(['False', 'True'], dtype=object)

In [37]:
cleaned["adult"] = cleaned["adult"].replace(to_replace = ['False','True'],value = [0,1])
cleaned.head()

,id,title,original_language,release_date,popularity,adult,vote_average,vote_count,Rogue State,Odyssey Media,...,Thriller,Action,BROSTA TV,Music,Animation,Mardock Scramble Production Committee,Sentai Filmworks,Documentary,Telescene Film Group Productions,Western
0,862,Toy Story,en,1995-10-30,21.946943,0,7.7,5415.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,8844,Jumanji,en,1995-12-15,17.015539,0,6.9,2413.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15602,Grumpier Old Men,en,1995-12-22,11.712900,0,6.5,92.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31357,Waiting to Exhale,en,1995-12-22,3.859495,0,6.1,34.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11862,Father of the Bride Part II,en,1995-02-10,8.387519,0,5.7,173.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
cleaned["original_language"].unique()

array(['en', 'fr', 'zh', 'fa', 'nl', 'de', 'cn', 'it', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'bn', 'he', 'pt', 'sr', 'wo', 'ro', 'hu', 'cy',
       'vi', 'da', 'no', 'cs', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'ca',
       'fi', 'th', 'sk', 'hi', 'bs', 'tr', 'is', 'ps', 'ab', 'ka', 'mn',
       'bm', 'uk', 'af', 'bo', 'la', 'ku', 'fy', 'lv', 'ta', 'sl', 'tl',
       'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'et', 'kk', 'ms', 'sq', nan,
       'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo', 'ay', 'kn', 'eu',
       'ne', 'pa', 'ky', 'gl', 'uz', 'sm', 'mt', 'hy', 'iu', 'lb', 'si',
       'eo', 'zu'], dtype=object)

In [39]:
cleaned.describe()

,popularity,adult,vote_average,vote_count,Rogue State,Odyssey Media,Comedy,Adventure,Aniplex,War,...,Thriller,Action,BROSTA TV,Music,Animation,Mardock Scramble Production Committee,Sentai Filmworks,Documentary,Telescene Film Group Productions,Western
count,45408.000000,45412.000000,45408.000000,45412.000000,45412.0,45412.0,45412.000000,45412.000000,45412.0,45412.000000,...,45412.000000,45412.000000,45412.0,45412.000000,45412.000000,45412.0,45412.0,45412.000000,45412.0,45412.000000
mean,2.921766,0.000198,5.619022,110.013499,0.0,0.0,0.290055,0.076808,0.0,0.029111,...,0.167665,0.145072,0.0,0.035167,0.042500,0.0,0.0,0.086519,0.0,0.022945
std,6.007693,0.014077,1.923371,491.569680,0.0,0.0,0.453793,0.266289,0.0,0.168120,...,0.373573,0.352177,0.0,0.184204,0.201729,0.0,0.0,0.281132,0.0,0.149731
min,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000
25%,0.385916,0.000000,5.000000,3.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000
50%,1.127563,0.000000,6.000000,10.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000
75%,3.679298,0.000000,6.800000,34.000000,0.0,0.0,1.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000
max,547.488298,1.000000,10.000000,14075.000000,0.0,0.0,1.000000,1.000000,0.0,1.000000,...,1.000000,1.000000,0.0,1.000000,1.000000,0.0,0.0,1.000000,0.0,1.000000

In [40]:
# get dummy variables for all the languages
cleaned = pd.concat([cleaned,pd.get_dummies(cleaned["original_language"])],axis = 1)

In [41]:
cleaned.drop(columns = ["original_language"],inplace = True)
cleaned.head()

,id,title,release_date,popularity,adult,vote_average,vote_count,Rogue State,Odyssey Media,Comedy,...,tl,tr,uk,ur,uz,vi,wo,xx,zh,zu
0,862,Toy Story,1995-10-30,21.946943,0,7.7,5415.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,8844,Jumanji,1995-12-15,17.015539,0,6.9,2413.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,15602,Grumpier Old Men,1995-12-22,11.712900,0,6.5,92.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
3,31357,Waiting to Exhale,1995-12-22,3.859495,0,6.1,34.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,11862,Father of the Bride Part II,1995-02-10,8.387519,0,5.7,173.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0

#### SAVE THE DATAFRAME FOR LATER USE

In [42]:
cleaned.to_csv("cleaned_movie.csv",index=False)