In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("cleaned_movie.csv")
df.head()

,id,title,popularity,adult,vote_average,vote_count,Odyssey Media,Thriller,Horror,Vision View Entertainment,...,tl,tr,uk,ur,uz,vi,wo,xx,zh,zu
0,862,Toy Story,21.946943,0,7.7,5415,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8844,Jumanji,17.015539,0,6.9,2413,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15602,Grumpier Old Men,11.712900,0,6.5,92,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,31357,Waiting to Exhale,3.859495,0,6.1,34,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,11862,Father of the Bride Part II,8.387519,0,5.7,173,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### WE WILL ASSUME A USER RATING TO BUILD THE RECOMMENDER ENGINE.

In [54]:
user_rating = {'Toy Story':7,'Rampage':8,'Get Out':5,'Iron Man':8,'Django Unchained':1,'It':3,'The Conjuring':9,
              'The Conjuring 2':10,'Titanic':9,'Executive Decision':9,'Leap Year':8,'Zootopia':10,
               'What Happens in Vegas':9,'Captain America':8,'The Parent Trap':9,'The Shawshank Redemption':3,
              'Baywatch':5,'Johnny English':8}

#### MAKE A SEPARATE DATAFRAME FOR WATCHED AND UNWATCHED MOVIES

In [77]:
watched = df.loc[df["title"].isin(list(user_rating.keys()))]
not_watched = df.loc[~df["title"].isin(list(user_rating.keys()))]
watched

,id,title,popularity,adult,vote_average,vote_count,Odyssey Media,Thriller,Horror,Vision View Entertainment,...,tl,tr,uk,ur,uz,vi,wo,xx,zh,zu
0,862,Toy Story,21.946943,0,7.7,5415,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
314,278,The Shawshank Redemption,51.645403,0,8.5,8358,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
489,2320,Executive Decision,13.106291,0,5.8,261,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
984,19186,The Parent Trap,5.807074,0,6.8,92,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1639,597,Titanic,26.889070,0,7.5,7770,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1950,9820,The Parent Trap,7.768828,0,6.8,768,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3285,16535,Titanic,12.907070,0,6.2,27,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6401,9486,Johnny English,8.739991,0,6.0,875,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7100,82283,It,0.594437,0,6.5,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8997,13995,Captain America,11.228156,0,4.5,87,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12588,1726,Iron Man,22.073099,0,7.4,8951,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12604,9029,What Happens in Vegas,10.054226,0,5.8,949,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14630,25195,Leap Year,7.432311,0,6.5,474,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14786,99749,Rampage,2.946078,0,6.5,11,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15379,38780,Rampage,5.085308,0,6.0,132,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16933,63555,Leap Year,2.118561,0,5.1,22,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20049,68718,Django Unchained,19.785025,0,7.8,10297,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20970,197467,Captain America,1.680242,0,4.7,13,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21274,138843,The Conjuring,14.901690,0,7.4,3169,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
25471,2699,Titanic,3.435807,0,6.3,45,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32256,106355,Captain America,1.591726,0,5.8,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34643,69592,Iron Man,0.092891,0,5.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36247,269149,Zootopia,26.024868,0,7.7,4961,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39091,259693,The Conjuring 2,14.767317,0,7.0,2018,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
39580,17288,Rampage,0.412342,0,6.0,2,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
41781,194310,Iron Man,0.418286,0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42163,419430,Get Out,36.894806,0,7.2,2978,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
43225,339846,Baywatch,35.637691,0,6.1,1829,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45112,130627,Get Out,0.147059,0,4.5,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
watched.groupby("title")